*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 10px 10px 0px ;
    color: white;
    background-color: rgba(30, 29, 111, 0.374);
}

h1{
    text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.635);
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
}

header button{
    font-size: medium;
    background-color: rgba(76, 176, 176, 0.849);
    padding: 8px 9px;
    color: white;
    border: none;
    border-radius: 13px;
    background:linear-gradient(to bottom, #a1a9fc 20%, #1e16ae9e  100%);
    box-shadow: inset 2px 2px 3px rgba(72, 14, 218, 0.952);
    text-shadow: 2px 2px 3px  rgba(0, 0, 0, 0.363) ; 
    cursor: pointer;
    font-weight: bold;
}


header button:hover {
    background:linear-gradient(to bottom, #1e16ae9e 20%, #a1a9fc 100%);
    }

    
body{
        background-color: rgba(108, 151, 210, 0.347);
}
    
form{
        text-align: center;
        padding: 20px;
        border-bottom: 3px solid white;
        display: none;
}

form input{
    border-radius: 5px;
}

form input, form button{
        padding: 3px;
        border: none;
        outline: none;
}

input::-webkit-input-placeholder{
    color: rgba(128, 128, 128, 0.6);
}

ul li{
        padding: 5px;
        border-bottom: 2px solid white;
        margin: 0px 30px;
        list-style: none;
        position: relative;
}

#enviar{
    background-color: rgb(46, 156, 46);
    cursor: pointer;
}

#enviar:hover{
    background-color: rgb(32, 235, 25);
}

#limpar{
    background-color: rgb(227, 95, 95);
    cursor: pointer;
}

#limpar:hover{
    background-color: rgb(255, 0, 0);
}

form button{
    color: white;
    border-radius: 5px ;
    padding: 3px 6px;
    font-weight: bold;
}

li {
    cursor: pointer;
    text-align: center;
    font-size: large;
    display: none;
}


#minimizar{
    background-color: rgba(240, 240, 14, 0.459);
    cursor: pointer;
}

#minimizar:hover{
    background-color: yellow;
}

.clickable{
    cursor: pointer;
}


.clicked {
    text-decoration: line-through;
}
